<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.18.1" />
  <package id="AutoFixture.AutoMoq" version="4.18.1" manuallyInstalled="true" />
  <package id="Castle.Core" version="5.1.1" />
  <package id="Fare" version="2.1.1" />
  <package id="Moq" version="4.20.72" manuallyInstalled="true" />
  <package id="Moq.AutoMock" version="3.5.0" manuallyInstalled="true" />
  <package id="NonBlocking" version="2.1.1" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
</packages>